body {
  margin: 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.content__title {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.snippet {
  text-align: center;
  background: lightgrey;
  width: 300px;
  align-self: center;
}

.highlighted {
  font-size: 1.5rem;
}

/*  CSS Transition Fundamentals: Demo: Blue to Green */
.square {
  width: 250px;
  height: 250px;
  margin: 1rem 0 2rem 1rem;
  background-color: blue;
}

section {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.description {
  width: 60%;
}

/* Blue to green */
#color .square {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  /* We add transitions properties in initial state*/
  transition-property: background-color;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -ms-transition-duration: 5s;
  /* Standard property last for future proof, meaning that
	is going to be the last property which is going to be
  processed by the browser following the rule of cascading stylesheet */
  transition-duration: 5s;
}

#color .square:hover {
  background-color: green;
}

/* Square to circle */
#circle .square {
  /******  SHORTHAND ******/
  -webkit-transition: border-radius 5s 3s, background-color 2s 2s;
  -moz-transition: border-radius 5s 3s, background-color 2s 2s;
  -o-transition: border-radius 5s 3s, background-color 2s 2s;
  -ms-transition: border-radius 5s 3s, background-color 2s 2s;
  transition: border-radius 5s 3s, background-color 2s 2s;
}

#circle .square:hover {
  border-radius: 50%;
  background-color: purple;
}

/* 2. CSS Transition and 2D Transform */
