html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

ul li {
  margin: 1rem 0;
}

.content__title {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.center {
  text-align: -webkit-center;
}

.snippet {
  text-align: center;
  background: rgb(255, 245, 175);
  width: 500px;
  align-self: center;
  border-radius: 1rem;
}

.highlighted {
  font-size: 1.5rem;
}

.bold__orange {
  font-weight: bold;
  color: darkorange;
}

/*  CSS Transition Fundamentals: Demo: Blue to Green */
.square {
  width: 250px;
  height: 250px;
  margin: 1rem 0 2rem 1rem;
  background-color: blue;
}

section {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.description {
  width: 60%;
}

/* Blue to green */
#color .square {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  /* We add transitions properties in initial state*/
  transition-property: background-color;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -ms-transition-duration: 5s;
  /* Standard property last for future proof, meaning that
	is going to be the last property which is going to be
  processed by the browser following the rule of cascading stylesheet */
  transition-duration: 5s;
}

#color .square:hover {
  background-color: green;
}

/* Square to circle */
#circle .square {
  /******  SHORTHAND ******/
  -webkit-transition: border-radius 5s 3s, background-color 2s 2s;
  -moz-transition: border-radius 5s 3s, background-color 2s 2s;
  -o-transition: border-radius 5s 3s, background-color 2s 2s;
  -ms-transition: border-radius 5s 3s, background-color 2s 2s;
  transition: border-radius 5s 3s, background-color 2s 2s;
}

#circle .square:hover {
  border-radius: 50%;
  background-color: purple;
}

/* 2. CSS Transition and 2D Transform */
.examples {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.examples .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

.container__image {
  margin: 0 1.5rem;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all .2s ease-in;
}

.container__image.first:hover {
  transform: skewX(20deg);
}

.container__image.second:hover {
  transform: skewX(-20deg);
}

.orange__box-bigger,
.orange__box-smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orangered;
  width: 120px;
  height: 100px;
  padding: .5rem;
  color: white;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.orange__box-smaller:hover {
  transform: scale(0.5, 0.5);
}

.orange__box-bigger:hover {
  transform: scale(2, 2);
}